<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=HASNAIN\HASNAINDB;Initial Catalog=library_management_db;User ID=sa;Password=hasnaindb123" />
    <add name="LibraryManagementSystem.Properties.Settings.library_management_dbConnectionString"
      connectionString="Data Source=HASNAIN\HASNAINDB;Initial Catalog=library_management_db;User ID=sa;Password=hasnaindb123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
 <!--use MultipleActiveResultSets = True to remove there is an open datareader associated with this command-->
</configuration>